<!doctype html>
<html ng-app="myApp">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <style>
        canvas {
            border:1px solid #d3d3d3;
            background-color: #f1f1f1;
        }
    </style>
    <title>Almost There</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>

<body onload="startGame()">
    <div ng-controller="myController">
        <div class="header" >
            <div class="text-center">
                <h1>Almost there, Red <%= username %>... </h1>

                <h2>
                    <small><a href="/logout">Logout</a>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <a href="/user">User Profile</a></small>
                </h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div style="display: none;">
                        <img id="OldX" src="http://ec2-52-41-158-1.us-west-2.compute.amazonaws.com/CS201R/OldX.png">
                        <img id="Trench" src="http://ec2-52-41-158-1.us-west-2.compute.amazonaws.com/CS201R/DeathStarTrench.jpg" width="1024" height="270">
                        <img id="Back" src="http://ec2-52-41-158-1.us-west-2.compute.amazonaws.com/CS201R/DeathStarCartoon.jpg">
                    </div>
                        <div class="container">
                        <div class="row">
                            <div class="col-4-sm"></div>
                            <div class="col-4-sm">
                                <div class="text-center">
                                    <br>
                                    <br>
                                <div id = "game" ></div>
                                <button onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)" style="margin-top: 15px">USE THE FORCE</button>
                            </div>
                            </div>
                             <div class="col-4-sm"></div>
                        </div>
                        </div>
                    <div class="row">
                    <div class="col-sm-12" style="text-align: center">
                        <hr>
                        <h1 class="form-header" >Update High Score</h1>
                        <form method="POST" action="/user/update">
                            <label>Username:</label>
                            <input type="text" name="username" ng-model="user.username" disabled><br>
                            <label>Email:</label>
                            <input type="email" name="email" ng-model="user.email"><br>
                            <label>Newest Score:</label>
                            <input type="text" name="color" id="saved-score" ng-model="user.color" readonly="readonly"><br>
                            <input type="submit" value="Save Score!">
                        </form>
                        <hr>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="well well-sm"><div class="text-center">Jesse Robinson <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Alex Fowler</div></div>

    <script>

            //var myGamePiece;
            var myGameImage;
            var myObstacles = [];
            var myScore;
            var myBackGround;

            function startGame() {
                //document.getElementById("old-score").value = document.getElementById("saved-score").value;
                //myGamePiece = new component(31, 51, "NO", 10, 120);
                //myGamePiece.gravity = 0.05;
                myBackGround = new component(1024, 270, "Trench", 0, 0, "image");
                myGameImage = new component(31, 51, "OldX", 10, 120, "image");
                myGameImage.gravity = 0.05;
                myScore = new component("30px", "Consolas", "black", 280, 40, "text");
                myGameArea.start();
            }

            var myGameArea = {

               canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.width = 480;
                    this.canvas.height = 270;
                    this.context = this.canvas.getContext("2d");
                    document.getElementById("game").insertBefore(this.canvas, document.getElementById("game").childNodes[0]);
                    this.frameNo = 0;
                    this.interval = setInterval(updateGameArea, 20);
                },
                clear : function() {
                    this.context.clearRect(200, 200, this.canvas.width, this.canvas.height);
                }
            }

            function component(width, height, color, x, y, type) {
                this.type = type;
                this.score = 0;
                this.width = width;
                this.height = height;
                this.speedX = 0;
                this.speedY = 0;
                this.x = x;
                this.y = y;
                this.gravity = 0;
                this.gravitySpeed = 0;
                this.update = function() {
                    ctx = myGameArea.context;


                    if (this.type == "text") {
                        ctx.font = this.width + " " + this.height;
                        ctx.fillStyle = color;
                        ctx.fillText(this.text, this.x, this.y);
                    }
                    else if(this.type == "image") {

                        var img = document.getElementById(color);
                        ctx.drawImage(img, this.x, this.y, width, height);
                    }
                    else {
                        ctx.fillStyle = color;
                        ctx.fillRect(this.x, this.y, this.width, this.height);
                    }
                }
                this.newPos = function() {
                    this.gravitySpeed += this.gravity;
                    this.x += this.speedX;
                    this.y += this.speedY + this.gravitySpeed;
                    this.hitBottom();
                    this.hitTop();
                }
                this.hitTop = function() {

                    if (this.y < 0) {
                        this.y = .5;
                        this.gravitySpeed = 0;
                    }
                }
                this.hitBottom = function() {
                    var rockbottom = myGameArea.canvas.height - this.height;
                    if (this.y > rockbottom) {
                        this.y = rockbottom;
                        this.gravitySpeed = 0;
                    }
                }
                this.crashWith = function(otherobj) {
                    var myleft = this.x;
                    var myright = this.x + (this.width);
                    var mytop = this.y;
                    var mybottom = this.y + (this.height);
                    var otherleft = otherobj.x;
                    var otherright = otherobj.x + (otherobj.width);
                    var othertop = otherobj.y;
                    var otherbottom = otherobj.y + (otherobj.height);
                    var crash = true;
                    if ((mybottom < othertop) || (mytop > otherbottom) || (myright < otherleft) || (myleft > otherright)) {
                        crash = false;
                    }
                    return crash;
                }
            }

            function updateGameArea() {
                var x, height, gap, minHeight, maxHeight, minGap, maxGap;
                for (i = 0; i < myObstacles.length; i += 1) {
                    /*if (myGamePiece.crashWith(myObstacles[i])) {
                     return;
                     } */
                    if (myGameImage.crashWith(myObstacles[i])) {
                        //ADDED BELOW
                        //document.getElementById("old-score").value = document.getElementById("saved-score").value;
                        document.getElementById("saved-score").value = "" + myGameArea.frameNo;
                        //ADDED ABOVE
                        return;
                    }
                }
                myGameArea.clear();
                myGameArea.frameNo += 1;
                if (myGameArea.frameNo == 1 || everyinterval(150)) {
                    x = myGameArea.canvas.width;
                    minHeight = 20;
                    maxHeight = 200;
                    height = Math.floor(Math.random()*(maxHeight-minHeight+1)+minHeight);
                    minGap = 80;
                    maxGap = 200;
                    gap = Math.floor(Math.random()*(maxGap-minGap+1)+minGap);
                    myObstacles.push(new component(10, height, "dark-gray", x, 0));
                    myObstacles.push(new component(10, x - height - gap, "dark-gray", x, height + gap));
                }
                myBackGround.update();

                for (i = 0; i < myObstacles.length; i += 1) {
                    myObstacles[i].x += -1;
                    myObstacles[i].update();
                }
                myScore.text="SCORE: " + myGameArea.frameNo;
                myScore.update();
                //myGamePiece.newPos();
                //myGamePiece.update();

                myGameImage.newPos();
                myGameImage.update();

            }

            function everyinterval(n) {
                if ((myGameArea.frameNo / n) % 1 == 0) {return true;}
                return false;
            }

            function accelerate(n) {
                //myGamePiece.gravity = n;
                myGameImage.gravity = n;
            }
        </script>
    </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>