<!doctype html>
<html>
<head>
  <title>User Login and Sessions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" type="text/css"
        href="../static/css/styles.css" />
</head>
<body>
<div class="text-center">
  <div class="header" >
    <h1>Almost there ... </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
  <div class="form-container">
    <h1 class="form-header">Sign Up</h1>
    <br>
    <form method="POST" action="/signup">
      <label>Username:</label>
        <input type="text" name="username"><br>
      <label>Password:</label>
        <input type="password" name="password"><br>
      <label>Email:</label>
        <input type="email" name="email"><br>
      <input type="submit" value="Register">
    </form>       
  </div>
      </div>
    </div>
  </div>
</div>
<div class="footer navbar-fixed-bottom">
  <div class="well well-sm"><div class="text-center">Jesse Robinson <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Alex Fowler</div></div>
</div>
</body>
</html>